*
{
    box-sizing: border-box !important;
    border-radius: 5px ;
}

body
{
    margin:0 !important;
    padding:0 !important;
    background-color: rgb(245, 245, 245) !important;
}

#first h3
{
    font-family:Arial!important;
    margin-left: 1.3rem !important;
    margin-top: 1.3rem !important;
    font-size: 20px !important;
}

.container
{
    border: 1px solid rgba(225, 230, 230, 0.986) !important;
    height: 100% !important;
    width: 96% !important;
    margin: 20px 20px 0px 20px !important;
    background-color: white !important;


}


/* Section 2 */
#forms
{
    border: 1px solid rgba(225, 230, 230, 0.986)!important;
    height: 100%!important;
    width: 96%!important;
    margin: 0px  20px 0px 20px!important;
    padding-top: 3.9rem!important;
    padding-left: 17px!important;
    background-color: white!important;
    /* padding-bottom: 20px; */    
}
div.wmd-container.mb8
{
    width: 90% !important;
}

.container1
{
    width: 96%!important;   
    padding-left: 17px!important;
    background-color: white!important;
    display: flex!important;
   
    align-items: center!important;
}
.container2
{
    width: 96%!important;
   padding-top: 40px!important;
    padding-left: 17px!important;
    background-color: white!important;
    display: flex!important;
    
    align-items: center!important;
}
.container3
{
    width: 96%!important;
   padding-top: 40px!important;
    padding-left: 17px!important;
    background-color: white!important;
    display: flex!important;
   
    align-items: center!important;
}

.container4
{
    width: 100  % !important;
   padding-top: 40px !important;
    padding-left: 17px !important;
    background-color: white !important;
    display: flex !important;
    align-items: center !important; 
}
.container5
{
    height: 100%;
    width: 96% !important;
   padding-top: 40px !important;
    /* padding-left: 17px !important; */
    background-color: white !important;
    display: flex !important;
    /* align-items: center !important;  */
}
.container6
{
    height: 100%;
    width: 96% !important;
   padding-top: 40px !important;
    /* padding-left: 17px !important; */
    background-color: white !important;
    display: flex !important;
    /* align-items: center !important;  */
}
#info
{
    font-size: 20px !important;
}
#info1 
{
    font-family:Arial, Helvetica, sans-serif !important;
    font-weight: 400 !important;
    opacity: 1 !important;
    font-size: 15px!important;
    display: inline-block;
    
}
#chkddl
{
    font-family:Arial, Helvetica, sans-serif !important;
    font-weight: 400 !important;
    opacity: 1 !important;
    font-size: 15px!important;
    display: inline-block;
}

div.info2
{

padding-bottom: 50px;
display: inline-block;
width: 10px;

}
div.info3
{
    display: inline-block;
padding-left: 33px;
padding-bottom: 30px;

}
div.closed
{
   position: relative;
   bottom: 40px;
   right: 22px;
}
.box2
{
    
    position: relative!important;
    left: 20%!important;
    display: inline-block!important;
}
.box3
{
display: inline-block!important;
    position: relative!important;
    left: 43%!important;
    width:23%;
}
.box4
{
    display: inline-block;
    width: 22%;
}
.box5
{
    position: relative!important;
    /* left: 13.5%!important; */
    width: 56%;
    display: inline-block!important;
}
.checkbox-card
{
    position: relative!important;
    left: 13.5%!important;
    width: 43%;
    display: inline-block!important;
}

#yourDateField
{
    width: 100%;
}
.box6
{
display: inline-block!important;
    position: relative!important;
    left: 2%!important;
   
}


.box8
{
    display: inline-block;
}

.box9
{
    display: inline-block;
    position: relative;
    left: 696px;
}
.box10
{
    display: inline-block;
    position: relative;
    left: 463px;
}
.box11
{
    display: inline-block;
    width:25%;
}
.box12
{
    display: inline-block;
    position: relative;
/*     left: 180px; */
}
.box13
{
    display: inline-block;
    position: relative;
    left: 165px;
    width: 25%;
}
.box14
{
    display: inline-block;
    position: relative;
    left: 22%;
    width:25%;

}
.box15
{
    display: inline-block;
}
.box16
{
    display: inline-block;

}
.box17
{
    display: inline-block;
    position: relative;
    left: 22%;
}
.box18
{
    display: inline-block;
    position: relative;
    left: 40%;
}
.box19
{
    display: inline-block;
}
.box20
{
    display: inline-block;
    position: relative;
    left: 559px;
}
.box21
{
    display: inline-block;
    padding-left: 21px;
}
.box22
{
    display: inline-block;
    padding-left: 21px;
}
.box23
{
    display: inline-block;
    position: relative;
    
    left: 100px;
}
.box24
{
    display: inline-block;
    position: relative;

   left: 141px;
}
.box25
{
    display: inline-block;
    position: relative;
    left: 41%;
    width: 5%;
}
.customdd {
    position: relative !important;
    left: 40px;
    z-index: 1;
}
    
 
  .customdd-button
  {
    font-size: 15px ;
    border-radius: 1px;
    padding: 5px 64px 5px 22px;
    background-color:  rgba(240, 248, 255, 0.868);
  }

.customdd .customdd-content {
    position: absolute !important;
    top: 100% !important;
    border: 1px solid lightgray !important;
    padding: 5px 25px 5px 16px;
    background-color: rgba(240, 248, 255, 0.868);
    border-radius: 1px;
    
  }
.content-time
{
    width: 100%;
     margin-left: 7px
}

#fafa
{
    position: absolute;
    right: 34px;
}
 .title
 {
    display: flex;
    align-items: center;
   
 }
 .every
 {
    width: 0;
    height: 0;
    opacity: 0;
 }
 .dd365
 {
    width: 57%;
    padding: 8px;
    margin-left: 30px;
    margin-bottom: 5px;
 }
 
 .custom1
 {
    margin-left: 25px;
 }
 .content
 {
    display: grid;
    grid-template-columns: 1fr auto;
 }
 
 .content-box
 {
    display: grid;
    grid-template-columns: 1fr auto;
    border: 1px solid black;
    row-gap: 8px;
    column-gap: 18px;
    padding: 3px 10px;
    white-space:nowrap;

 }
 div
 
.content2
{
   
    border: 1px solid black;
    padding: 13px 5px 0px 5px;
gap: 2px;
display: grid;
grid-template-columns: repeat(8,1fr)

}
.content3
{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    border: 1px solid black;
    padding: 13px 5px 0px 5px;
gap: 2px;

}
.content4
{
    white-space:nowrap;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
margin:0px 5px 5px 5px;

}
.content5
{
    display: grid;
    grid-template-columns: 1fr auto;
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
    margin:0px 5px 5px 5px;

}
.content6
{
    display: grid;
    grid-template-columns: 1fr auto;
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
    margin:0px 5px 5px 5px;
}
.content7
{
    border: 1px solid black;
    padding: 13px 5px 0px 5px;
gap: 2px;
display: grid;
grid-template-columns: repeat(8,1fr)

}
.content8
{
   
    display: grid;
    grid-template-columns: 1fr auto;
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
    /* gap: 2px; */
    margin:0px 5px 5px 5px;
}
.content9
{
    display: grid;
    grid-template-columns: 1fr auto;
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
    /* gap: 2px; */
    margin:0px 5px 5px 5px;
}
.content10
{
    display: grid;
    grid-template-columns: 1fr auto;
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
    /* gap: 2px; */
    margin:0px 5px 5px 5px;
}
.content11
{
    display: grid;
    grid-template-columns: 1fr auto;
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
    /* gap: 2px; */
    margin:0px 5px 5px 5px;
}
.content12
{
    display: grid;
    grid-template-columns: 1fr auto;
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
    /* gap: 2px; */
    margin:0px 5px 5px 5px;
}
 .content2 input[type="checkbox"]
 {
    width: 0;
    height: 0;
    opacity: 0;
 }
 .content3 input[type="checkbox"]
 {
    width: 0;
    height: 0;
    opacity: 0;
 }
 .content7 input[type="checkbox"]
 {
    width: 0;
    height: 0;
    opacity: 0;
 }
 
 .title label
 {
    white-space:nowrap;
    border: 1px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    width: 100%;
    padding-right: 20px;
 }
 .content2 label
 {
    white-space:nowrap;
    border: 1px solid lightgray;
padding: 0.9rem 1.1rem;
margin:0.5px;
font-size: 0.7rem;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
    border-radius: 2px;
    
 }
 .content3 label
 {
    white-space:nowrap;
    border: 1px solid lightgray;
padding: 0.9rem 1.1rem;
margin:0.5px;
font-size: 0.7rem;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
    border-radius: 2px;
    
 }
 .content4 label
 {
    white-space:nowrap;  
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
    border-radius: 2px;
    
 }
 .content5 label
 {
    white-space:nowrap;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
    border-radius: 2px;
    
 }
 .content6 label
 {
    white-space:nowrap;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
    border-radius: 2px;
    
 }
 .content7 label
 {
    white-space:nowrap;
    border: 1px solid lightgray;
padding: 0.9rem 1.1rem;
margin:0.5px;
font-size: 0.7rem;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
    border-radius: 2px;
 }
 .content8 label
 {
    white-space:nowrap;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
    border-radius: 2px;
 }
 .content9 label
 {
    white-space:nowrap;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
    border-radius: 2px;
 }
 .content10 label
 {
    white-space:nowrap;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
    border-radius: 2px;
 }
 .content11 label
 {
    white-space:nowrap;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
    border-radius: 2px;
 }
 .content12 label
 {
    white-space:nowrap;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
    border-radius: 2px;
 }

 .title label:hover
 {
   opacity: 0.7;
   cursor: pointer;
 }
 .content2 label:hover
 {
   opacity: 0.7;
   background-color: rgb(23, 90, 199);
  color: white;
cursor: pointer;

 }
 .content3 label:hover
 {
   opacity: 0.7;
   background-color: rgb(23, 90, 199);
  color: white;
  cursor: pointer;

 }
 .content4 label:hover
 {
   opacity: 0.7;
   cursor: pointer;
 }
 .content5 label:hover
 {
   opacity: 0.7;
   background-color: rgb(23, 90, 199);
  color: white;
  cursor: pointer;

 }
 .content6 label:hover
 {
   opacity: 0.7;
   cursor: pointer;

 }
 .content7 label:hover
 {
   opacity: 0.7;
   background-color: rgb(23, 90, 199);
  color: white;
cursor: pointer;
 }
 .content8 label:hover
 {
   opacity: 0.7;
   cursor: pointer;

 }
 .content9 label:hover
 {
   opacity: 0.7;
   cursor: pointer;

 }
 .content10 label:hover
 {
   opacity: 0.7;
   cursor: pointer;
 }
 .content11 label:hover
 {
   opacity: 0.7;
   cursor: pointer;
 }
 .content12 label:hover
 {
   opacity: 0.7;
   cursor: pointer;
 }
 button.customdd-button:hover
 {
    cursor: pointer;
 }
.calendarclass
{
    
    margin-left: 5px;
}
 



.box27
{
    display: inline-block;
    position: relative;
    left: 580px;
    
    width: 7%;
}

/* .box28
{
    display: inline-block;
    position: relative;
    left: 3%;
    width: 5%;

} */

.time1
{
    width: 100% !important;
}
#asterik
{
    color: red; 
}


#name
{
    width: 140%!important;
    padding: 11px!important;
    margin: 8px 0!important;
    display: inline-block!important;
    border: 1px solid #ccc!important;

   
}
#name0
{
    width: 100%;
    padding: 11px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    
}
#name1
{
    width: 100%;
    padding: 11px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    
}

#name2
{
    width: 552%;
    padding: 11px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;

}

#name3
{
    width: 100%!important;
    padding: 24px!important;
    margin-bottom: 20px !important;
    display: inline-block!important;
    border: 1px solid #ccc!important;

}
#name4
{
    width: 100%!important;
    padding: 11px!important;
    margin: 8px 0!important;
    display: inline-block!important;
    border: 1px solid #ccc!important;
}
#name5
{
    width: 100%!important;
    padding: 11px!important;
    margin: 8px 0!important;
    display: inline-block!important;
    border: 1px solid #ccc!important;
}
#name6
{
    width: 230%!important;
    padding: 11px!important;
    margin: 8px 0!important;
    display: inline-block!important;
    border: 1px solid #ccc!important;
}
#name7
{
    width: 410%!important;
    padding: 11px!important;
    margin: 8px 0!important;
    display: inline-block!important;
    border: 1px solid #ccc!important;
   height: 170px;

}
#name8
{
    width: 190%!important;
    padding: 11px!important;
    
    display: inline-block!important;
    border: 1px solid #ccc!important;
    height: 50px;
   
       background-color: blue;
       border: none;
       color: white;
       
       text-align: center;
      
       font-size: 16px;
       margin: 0px 4px 36px 0px;
       cursor: pointer;
   
}
#name9
{
    width: 125%!important;
    padding: 11px!important;
    
    display: inline-block!important;
    border: 1px solid #ccc!important;
    height: 50px;
   
       background-color: white;
       border: none;
       color: rgb(129, 127, 127);
       
       text-align: center;
      
       font-size: 16px;
       margin: 0px 4px 36px 0px;
       cursor: pointer;
    border-radius: 1px;
    padding-right: 15px;

   
}
#name10
{
    width: 120%!important;
    padding: 11px!important;
    
    display: inline-block!important;
    border: 1px solid #ccc!important;
    height: 50px;
   
    border-radius: 1px;
       background-color: white;
       border: none;
       color: rgba(133, 130, 130, 0.658);
       
       text-align: center;
      
       font-size: 16px;
       margin: 0px 4px 36px 0px;
       cursor: pointer;
   
}

.name11
{
    width: 109%!important;
    padding: 6px!important;
   
    display: inline-block!important;
    border: 1px solid #ccc!important;
}

#name12
{
    width: 100%!important;
    padding: 8px!important;
    margin: 8px 0!important;
    display: inline-block!important;
    border: 1px solid #ccc!important;
}
#type
{
    width: 226%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #cccccc;
    border-right: none;
    border-radius: 2px;
  
}
#type1
{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
  
}
#type2
{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1px;
    
   
}
#type3
{
    width: 240%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #cccccc;

}
#type4
{
        width: 600%;
        padding: 11px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #cccccc;    
        border-radius: 2px;
        background-color: white;    

}
#type5
{
        width: 63px;
        padding: 11.1px;
        margin-top: 20px;
        border-radius: 1px;
        display: inline-block;
        border: 1px solid #cccccc; 
        background-color: white;    
}
#type6
{
        width: 63px;
        padding: 10px;
        margin-top: 20px;
        border-radius: 1px;
        display: inline-block;
        border: 1px solid #cccccc; 
        /* border-left:none; */
        background-color: white;    
}
#type7
{
        width: 63px;
        padding: 11.5px;
        margin-top: 20px;
        border-radius: 1px;
        display: inline-block;
        border: 1px solid #cccccc; 
        border-left:none;
        background-color: white;    
}

#type8

{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #cccccc;
    border-right: none;
    border-radius: 2px;
}

#type9
{
    width: 63px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 1px;
    display: inline-block;
    border: 1px solid #cccccc; 
    /* border-left:none; */
    background-color: white;    
}
img
{
    width: 44px;
    height: 13px;

}

#check
{
    width: 24px;
    height: 21px;
}
#check1
{
    width: 24px;
    height: 21px;
}
#yourCheckbox
{
    width: 24px;
    height: 21px;
}
.check3
{
    width: 24px;
    height: 21px;
}
#check4
{
    width: 24px;
    height: 21px;
}
input[type="time"] {
    background: #fff;
    min-width: 100px;
    border-radius: 2px;
}

input[type="time"]:before {
    content: 'HH:mm ss';
    color: #9d9d9d;
    position: absolute;
    background: #fff;
    width: 70px;
}

input[type="time"]:focus:before {
    width: 0;
    content: '';
}
    

details summary
{
    list-style: none;
}
.icon
{
    border: 1px solid #ccc;
    display: inline-block;
}

.wmd-button
{
    max-width: 60px!important;
}
.wmd-button-bar
{
    /* margin-top: -16px !important; */
    height: 58px!important;
    position: relative !important;
    bottom: -6px !important;
    margin-top: 14px !important;
    border-bottom: 1px solid #ccc !important;
    border-radius: 1px !important;
    /* border-top:none !important; */
}
.wmd-button-row
{
width: 1525px!important;
justify-content:  left !important;
/* padding: 10px!important; */
padding-left: 40px !important;
padding-top: 5px !important;
/* margin-top:  */
height: 55px!important;
border-bottom: none!important;
border-radius: 1px !important;


}

#wmd-bold-button
{
    padding-left: 44px;
}

#under
{
position: relative;
top: 15px;
left: 18px;
font-size: 19px;
}

#sort
{
    position: relative;
    top: 13px;
    left: 18px;
    font-size: 21px; 
    max-width: 14px!important;
}

#no
{
    position: relative;
    top: 14px;
    font-size: 16px;
    font-weight: bold;
}

#details
{
    padding-left: 42px;
    padding-top: 30px;
    display: inline-block;
    
}

.button-text {
    padding-left: 6px;
  /* Add 24px to align the text in the center since the icon's width is 24px */
}


#details:hover
{
    transform:rotate(180deg);
    position: relative;
    left: 50px;
    top: 34px;
}


.dropdown .hidden 
{
display: none;
}
